<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  <meta charset="utf-8">
  <title>Regna Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
</head>
<body>
  <header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/index">Home</a></li>
          <li class="menu-has-children"><a href="#">My Account</a>
            <ul>
              <li><a href="/orders">Orders</a></li>
              <li><a href="/saveditems">Saved Items</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="/selling">Selling</a></li>
            </ul>
          </li>
          <li><a href="/category">Category</a></li>
          <li><a href="/basket">Basket</a></li>
          <li><a href="/checkout">Checkout</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>

  {% block content %}{% endblock %}
</body>
</html>
