{% extends "base.html" %}
{% block content %}

  <!-- Site Page Generation -->
  <section id="hero">
    <div class="hero-container">
      <div class="gallery">
        {% for i in range(categories|length)%}
          <img src={files[i]} width = "600" height = 600>
          <div class="desc">{categories[i]}</div>
        {% endfor %}
          <!--
        {% for cat in categories%}

        {% endfor %}
          -->
      </div>
    </div>
  </section>
  <main id="main">
</main>
</body>
</html>
{% endblock %}
