{% extends "base.html" %}
{% block content %}

  <!-- Site Page Generation -->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Giftwrap</h1>
      <h2>The world's premier shopping site</h2>
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->
  <main id="main">

    <input type="text" placeholder="Search..">
    <button type="submit">Submit</button>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  <ul>
    {% for name in names %}
      <li>{{ name }}</li>
    {% endfor %}
  </ul>
  <br>
  <ol>
    {% for name in names %}
      <li>{{ name }}</li>
    {% endfor %}
  </ol>

</main>
</body>
</html>
{% endblock %}
