<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  <meta charset="utf-8">
  <title>Giftwrap Shopping Site</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
</head>
<body>
<div id="container">
  <div id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="/index"><img src="../static/img/logo.jpg" height=80px width=80px/></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/index">Home</a></li>
          <li class="menu-has-children"><a href="/account">My Account</a>
            <ul>
              <li><a href="/orders">Orders</a></li>
              <li><a href="/wishlist">Wishlist</a></li>
            </ul>
          </li>
          <li><a href="/category">Category</a></li>
          <li><a href="/checkout">Checkout</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="body">

  {% block content %}{% endblock %}

  </div>
  <div id="footer">
    <div class="footer-top">
      <div class="container">
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Giftwrap</strong>. All Rights Reserved
      </div>
      <div class="credits">
        A shopping site by Calum Hamilton
      </div>
    </div>
  </div>
</div>
</body>
</html>
