{% extends "base_lvl_one.html" %}
{% block content %}

  <a class="category_return" href="/category"><i>Back to browsing Item Categories</i></a><br>
  {% if categories|length <= 0 %}
  <div class="gallery-display">
    <div class="gallery-desc">
      I'm sorry but there are no items in this category yet. Please return to browsing Item Categories to continue shopping.
    </div>
  </div>
  {% else %}
    {% for i in range(categories|length)%}
      <div class="gallery-display">
        <img src="{{files[i]}}">
        <div class="gallery-desc">
          <b>{{categories[i]}}</b>
        </div>
        <hr>
        <div class="gallery-desc">
          <br>
          <b>Price:</b> £{{'%0.2f'%price[i]}}<br><br>
          <b>Quantity in Stock:</b> {{quantity[i]}}<br><br>
          <form name="cart-form" method="post" action="/category/{{subcat}}">
            <button name="button" value="{{categories[i]}}" type="submit">Add to Cart</button>
            <button name="button" value="{{categories[i]}}-wishlist" type="submit">Add to Wishlist</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
